<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style></style>
</head>
<body>
    <h1>Saludos desde mi primer pagina web</h1>
    <h2> subtitulo de la pagina</h2>
    <h5>prueba h5</h5>
    <p>gjasigwe dm</p>
    <p>dmvgisa eiejs</p>
    <p> ahora veremos una lista de tareas</p>
    <ul>
        <li>Ir a la Esoa</li>
        <li>Buscar un aula</li>
        <li>revisar si hay internet</li>
        <li>revisar si tiene proyector</li>
    </ul>
    <ol>
        <li>pepe 1</li>
        <li>andrea</li>
        <li>andrea</li>
        <li>andrea</li>
        <li>andrea</li>
    </ol>
</body>
</html>